.contact .contact-body h2{
    font-size: 67.6px;
    font-weight: 600;
    color: black;
    padding-bottom: 2rem;
}
.contact{
    padding-top: 5rem;
    width: 100%;
    background-color: #ededf0;
}
.contact-body{
    padding: 5rem 0 3rem 20rem;
    width: 100%;
    /* border: 2px solid red; */
}
.contact-button{
    display: flex;
    /* border: 2px solid red; */
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 0.5rem;
    align-items: center;
    width: 100%;
}
.contact-button button{
    display: flex;
    padding: 0.7rem 1rem;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
    outline: none;
    inset: 0;
    border: 0.5px solid black;
    border-radius: 5px;
    background: rgb(241,241,241);
    background: linear-gradient(127deg, rgba(241,241,241,1) 6%, rgba(181,187,224,1) 77%);
    transform: scale();
    color: white;
    align-items: center;
    width: 100%;
    max-width: 130px;
}
.contact-button button:hover{
    transform: scale(1.05);
    transition: border 0.2s ;
    border: 1px solid black;
}
.contact-button button i{
    font-size: 1.1rem;
    align-items: center;
    /* background-image: linear-gradient(0deg, rgb(0, 0, 0,1) 6%, rgba(181,187,224,1) 77%) ;
    color: transparent ;
    background-clip: text;
    -webkit-background-clip: text; */
    color: black;
}
.contact-body p{
    color: gray;
    /* font-style: italic; */
    font-size: 1rem;
}
.contact-button button p a{
    /* font-style: none; */
    color: black;
    font-size: 1rem;
}

/*All responsiveness starts here*/

@media (max-width:250px){
    /* header */
    .fa-brands{
        font-size: 1rem;
    }
    .media-link li{
        padding: 0.4rem;
    }
    .ham-container{
        padding-left: 0.5rem;
        display: block;
    }
    #hamburger{
        width: 25px;
        height: 20px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(5px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-5px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        /* height: 100%; */
        height: 10vh;
        gap: 1rem;
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 120px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: white;
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 20px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 30px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1rem;
    }
    .nav-link.active{
        right: 0;
    }
    .logo{
        width: 100px;
    }
    nav .film{
        display: flex;
        padding: 0.5rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content: flex-end;
        width: 20%;
    }
    nav .film a{
        font-size: 1.35rem;
        color: #b5bbe0;
    }
    /* header ends */

    .contact .contact-body h2{
        font-size: 2.1rem;
        padding-bottom: 1rem;
    }
    .contact{
        padding-top: 3rem;
    }
    .contact-body{
        padding: 2rem 0.5rem 2rem 1rem;
        width: 100%;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
    }
    .contact-button button{
        padding: 0.3rem 0.4rem ;
        gap: 0.5rem;
        border: 0.5px solid black;
        border-radius: 15px;
        background: rgb(241,241,241);
        background: linear-gradient(127deg, rgba(241,241,241,1) 6%, rgba(181,187,224,1) 77%);
        width: 100%;
        max-width: 100px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
    .contact-button button i{
        font-size: 0.8rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 0.75rem;
    }
    .contact-button button p a{
        font-size: 0.75rem;
    }
}
@media (min-width:251px) and (max-width:390px){
    /* header */

    .fa-brands{
        font-size: 1.4rem;
    }
    .ham-container{
        padding: 0.8rem;
        display: block;
        width: 33.3%;
        /* border: 2px solid black; */
    }
    #hamburger{
        width: 30px;
        height: 25px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(7px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-7px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        height: 15vh;
        /* gap: 5rem; */
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        width: 33.3%;
        /* width: 150px; */
        /* border: 2px solid black; */
    }
    nav .film{
        display: flex;
        padding-left: 2.7rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content:center;
        width: 33.3%;
    }
    nav .film a{
        font-size: 1.65rem;
        color: #b5bbe0;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 160px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--off-white);
        width: 100%;
        border-top: 3px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 80px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        padding-left: 3rem;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 40px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1.3rem;
    }
    .nav-link.active{
        right: 0;
    }
    /* header ends */

    .contact{
        padding-top: 2rem;
        background-color: #ebebef;
    }
    .contact-body{
        padding: 3.5rem 0.5rem 2rem 1rem;
        width: 100%;
    }
    .contact .contact-body h2{
        font-size: 2.85rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 0.75rem;
    }
    .contact-button button p a{
        font-size: 0.8rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
        /* border: 2px solid red; */
    }
    .contact-button button{
        padding: 0.3rem 0.7rem ;
        gap: 0.5rem;
        width: 100%;
        max-width: 110px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
    .contact-button button i{
        font-size: 0.8rem;
    }
}
@media (min-width:391px) and (max-width:480px){
       /* header */

.fa-brands{
    font-size: 1.4rem;
}
.ham-container{
    padding: 0.8rem;
    display: block;
    width: 33.3%;
    /* border: 2px solid black; */
}
#hamburger{
    width: 30px;
    height: 25px;
}
#hamburger.active span:nth-of-type(1){
    width: 100%;
    transform: rotate(30deg) translateY(7px) translateX(6px);
}
#hamburger.active span:nth-of-type(2){
    width: 100%;
    transform: rotate(-30deg) translateY(-7px) translateX(6px);
}
nav{
    width: 100%;
    display: flex;
    margin: 0;
    height: 15vh;
    /* gap: 5rem; */
    /* border: 2px solid black; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 33.3%;
    /* width: 150px; */
    /* border: 2px solid black; */
}
nav .film{
    display: flex;
    padding-left: 2.7rem;
    align-items: center;
    overflow: hidden;
    /* border: 2px solid black; */
    justify-content:center;
    width: 33.3%;
}
nav .film a{
    font-size: 1.65rem;
    color: #b5bbe0;
}
.nav-link{
    position: fixed;
    right: 100%;
    top: 160px;
    gap: 0;
    /* backdrop-filter: blur(27px); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--off-white);
    width: 100%;
    border-top: 2px solid #b5bbe0;
    border-bottom: 2px solid #b5bbe0;
    text-align: center;
    transition: 0.5s;
}
.hide{
    display: block;
}
.nav-menu{
    flex-direction: column;
    position: absolute;
    top: 80px;
    padding: 1rem;
    justify-content: center;
    width: 100%;
    padding-left: 3rem;
    gap: 0.5rem;
    /* border: 2px solid red; */
}
.nav-menu li{
    display: flex;
    width: 100%;
    margin: 0.8rem 0;
    /* justify-content: center; */
    align-items: center;
    justify-self: unset;
    height: 40px;
    /* border: 2px solid black; */
    color: white;
}
.nav-menu li:nth-child(1) a{
    border-bottom: 2px solid #b5bbe0;
}
.nav-link .nav-menu li a{
    font-size: 1.3rem;
}
.nav-link.active{
    right: 0;
}
/* header ends */


    .contact{
        padding-top: 2rem;
    }
    .contact-body{
        padding: 5rem 0.5rem 2rem 2rem;
        width: 100%;
    }
    .contact .contact-body h2{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 0.8rem;
    }
    .contact-button button p a{
        font-size: 0.8rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
    }
    .contact-button button{
        padding: 0.4rem 0.6rem ;
        gap: 0.5rem;
        width: 100%;
        border-radius: 20px;
        max-width: 110px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
    .contact-button button i{
        font-size: 0.85rem;
    }
}
@media (min-width:481px) and (max-width:767px){
    /* header */

    .ham-container{
        padding: 0.8rem;
        display: block;
        width: 33.3%;
        /* border: 2px solid black; */
    }
    #hamburger{
        width: 35px;
        height: 30px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(12px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-7px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        height: 15vh;
        /* gap: 5rem; */
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        width: 33.3%;
        /* width: 150px; */
        /* border: 2px solid black; */
    }
    nav .film{
        display: flex;
        padding-left: 2.7rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content:center;
        width: 33.3%;
    }
    nav .film a{
        font-size: 2rem;
        color: #b5bbe0;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 160px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--off-white);
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 80px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        padding-left: 3rem;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 40px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1.4rem;
    }
    .nav-link.active{
        right: 0;
    }
    /* header ends */

    .contact{
        padding-top: 2rem;
    }
    .contact-body{
        padding: 5rem 0.5rem 2rem 4rem;
        width: 100%;
    }
    .contact .contact-body h2{
        font-size: 2.85rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 0.85rem;
    }
    .contact-button button p a{
        font-size: 0.8rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
        /* border: 2px solid red; */
    }
    .contact-button button{
        padding: 0.4rem 0.6rem ;
        gap: 0.5rem;
        border-radius: 20px;
        width: 100%;
        max-width: 110px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
    .contact-button button i{
        font-size: 0.85rem;
    }
}
@media (min-width:768px) and (max-width:991px){
    /* header{
        display: none;
    } */
    .contact{
        padding-top: 2rem;
    }
    .contact-body{
        padding: 5rem 0.5rem 2rem 8rem;
        width: 100%;
    }
    .contact .contact-body h2{
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 0.9rem;
    }
    .contact-button button p a{
        font-size: 0.9rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
        /* border: 2px solid red; */
    }
    .contact-button button{
        padding: 0.6rem 0.9rem ;
        gap: 0.5rem;
        border-radius: 20px;
        width: 100%;
        max-width: 130px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
    .contact-button button i{
        font-size: 0.9rem;
    }
}
@media (min-width:992px) and (max-width:1199px){
    /* header{
        display: none;
    } */
    .contact{
        padding-top: 2rem;
    }
    .contact-body{
        padding: 5rem 0.5rem 2rem 12rem;
        width: 100%;
    }
    .contact .contact-body h2{
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 1rem;
        font-weight: bolder;
    }
    .contact-button button p a{
        font-size: 0.95rem;
    }
    .contact-button button i{
        font-size: 0.85rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
    }
    .contact-button button{
        padding: 0.8rem 1rem ;
        gap: 0.5rem;
        border-radius: 25px;
        width: 100%;
        max-width: 150px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
}
@media (min-width:1200px) and (max-width:1300px){
    /* header{
        display: none;
    } */
    .contact{
        padding-top: 2rem;
    }
    .contact-body{
        padding: 5rem 0.5rem 2rem 15rem;
    }
    .contact .contact-body h2{
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }
    .contact-body p{
        line-height: 20px;
        font-size: 1rem;
        font-weight: bolder;
    }
    .contact-button button p a{
        font-size: 1rem;
    }
    .contact-button button i{
        font-size: 0.9rem;
    }
    .contact-button{
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
    }
    .contact-button button{
        padding: 0.8rem 0.9rem ;
        gap: 0.5rem;
        border-radius: 20px;
        width: 100%;
        max-width: 150px;
    }
    .contact-button button:hover{
        transform: scale(1.03);
    }
}