.service-section{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    padding: 5rem 8rem 0.5rem 8rem;
    background-color: #ededf0;
}
.service-section h2{
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.service-content{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 3rem;
    padding: 1.5rem;
    /* border: 2px solid black; */
}
.card{
    border: none;
    padding: 0.5rem 1rem 1rem;
    cursor: pointer;
    transform: scale();
    border: 0.2px solid gray;
    transition: all 0.5s;
    box-shadow: 15px 20px var(--text-color);
    background: rgb(241,241,241);
    background: linear-gradient(127deg, rgba(241,241,241,1) 6%, rgba(181,187,224,1) 77%);
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card h1{
    background-image: linear-gradient(0deg, rgb(0, 0, 0,1) 6%, rgba(181,187,224,1) 77%) ;
    color: transparent ;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    text-transform: uppercase;
    padding: 0.75rem 0 0 0;
    font-size: 1.4rem;
    /* border-bottom: 2px dashed black; */
}
.card ul{
    line-height: 30px;
    padding-top: 1rem;
    /* text-align: center; */
}
.card ul li{
    font-size: 17px;
    color: black;
    display: flex;
    width: 100%;
    padding: 0.3rem 0;
    word-wrap: nowrap;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: space-between;
}
.policy-body{
    background-color: #ebebef;
    padding: 0.5rem 4rem;
}
.policy{
    border: 0.5px solid gray;
    margin: 5rem 0;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    /* height: 100%;
    max-height: 600px; */
    box-shadow: 15px 20px var(--text-color);
    background: rgb(241,241,241);
    background: linear-gradient(127deg, rgba(241,241,241,1) 6%, rgba(181,187,224,1) 77%);
}
.policy h1{
    text-align: center;
    padding: 1.25rem 0 0.7rem 3rem;
    background-image: linear-gradient(0deg, rgb(0, 0, 0,1) 6%, rgba(181,187,224,1) 77%) ;
    color: transparent ;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    /* color: var(--text-color); */
    font-size: 1.6rem;
}
.policy ul{
    padding: 0.2rem 1.5rem 1.5rem 2rem;
    width: 100%;
}
.policy ul li{
    list-style-type: disc;
    /* line-height: 40px; */
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid gray;
}
.policy ul li a{
    color: #ebebef;
    transition: all 0.5s;
    border-bottom: 2px solid #ebebef;
}
.policy ul li a:hover{
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

/*All responsiveness starts here*/

@media (max-width:250px){
    /* header */
    .fa-brands{
        font-size: 1rem;
    }
    .media-link li{
        padding: 0.4rem;
    }
    .ham-container{
        padding-left: 0.5rem;
        display: block;
    }
    #hamburger{
        width: 25px;
        height: 20px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(5px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-5px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        /* height: 100%; */
        height: 10vh;
        gap: 1rem;
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 120px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: white;
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 20px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 30px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1rem;
    }
    .nav-link.active{
        right: 0;
    }
    .logo{
        width: 100px;
    }
    nav .film{
        display: flex;
        padding: 0.5rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content: flex-end;
        width: 20%;
    }
    nav .film a{
        font-size: 1.35rem;
        color: #b5bbe0;
    }
    /* header ends */

    .service-section{
        padding: 2rem 1rem 0.5rem 1rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.2rem;
        text-transform: capitalize;
        padding-bottom: 1rem;
    }
    .service-content{
        gap: 2rem;
        padding-top: 1rem;
        padding-left: 0;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* border: 2px solid black; */
    }
    .card{
        padding: 0.2rem 0.7rem 0.8rem;
        /* width: 300px; */
        /* width: 100%; */
        box-shadow: 5px 5px var(--text-color);
    }
    .card h1{
        text-align: center;
        padding: 0.5rem 0 0 0;
        font-size: 1rem;
    }
    .card ul{
        line-height: 20px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 0.7rem;
        padding: 0.3rem 0;
        word-wrap: wrap;
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 0.8rem;
    }
    .policy{
        margin: 3rem 0;
        width: 100%;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 5px 5px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 1rem 0 0.2rem 1rem;
        /* color: var(--text-color); */
        /* text-transform: capitalize; */
        font-size: 1.1rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 0.8rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        /* line-height: 40px; */
        padding: 0.5rem;
        font-size: 0.75rem;
    }
    .policy ul li a{
        color: #ebebef;
        transition: all 0.5s;
        border-bottom: none;
    }
}
@media (min-width:251px) and (max-width:390px){
    /* header */

    .fa-brands{
        font-size: 1.4rem;
    }
    .ham-container{
        padding: 0.8rem;
        display: block;
        width: 33.3%;
        /* border: 2px solid black; */
    }
    #hamburger{
        width: 30px;
        height: 25px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(7px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-7px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        height: 15vh;
        /* gap: 5rem; */
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        width: 33.3%;
        /* width: 150px; */
        /* border: 2px solid black; */
    }
    nav .film{
        display: flex;
        padding-left: 2.7rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content:center;
        width: 33.3%;
    }
    nav .film a{
        font-size: 1.65rem;
        color: #b5bbe0;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 160px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--off-white);
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 80px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        padding-left: 3rem;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 40px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1.3rem;
    }
    .nav-link.active{
        right: 0;
    }
    /* header ends */

    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 0.2rem 0.5rem 0.2rem;
        background-color: var(--off-white);
    }
    .service-section h2{
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
    }
    .service-content{
        gap: 2.5rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* border: 2px solid black; */
        /* display: grid; */
        width: 100%;
        /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    }
    .card{
        /* width: 320px; */
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 7px 5px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.1rem;
    }
    .card ul{
        line-height: 25px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 0.8rem;
        padding: 0.3rem 0;
        word-wrap: wrap;
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        /* background-color: var(--off-white); */
        background-color: #ebebef;
        padding: 0.5rem 1rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 7px 5px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 0.8rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 20px;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .policy ul li a{
        color: #ebebef;
        transition: all 0.5s;
        border-bottom: none;
    }
}
@media (min-width:391px) and (max-width:480px){
   /* header */

   .fa-brands{
    font-size: 1.4rem;
}
.ham-container{
    padding: 0.8rem;
    display: block;
    width: 33.3%;
    /* border: 2px solid black; */
}
#hamburger{
    width: 30px;
    height: 25px;
}
#hamburger.active span:nth-of-type(1){
    width: 100%;
    transform: rotate(30deg) translateY(7px) translateX(6px);
}
#hamburger.active span:nth-of-type(2){
    width: 100%;
    transform: rotate(-30deg) translateY(-7px) translateX(6px);
}
nav{
    width: 100%;
    display: flex;
    margin: 0;
    height: 15vh;
    /* gap: 5rem; */
    /* border: 2px solid black; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 33.3%;
    /* width: 150px; */
    /* border: 2px solid black; */
}
nav .film{
    display: flex;
    padding-left: 2.7rem;
    align-items: center;
    overflow: hidden;
    /* border: 2px solid black; */
    justify-content:center;
    width: 33.3%;
}
nav .film a{
    font-size: 1.65rem;
    color: #b5bbe0;
}
.nav-link{
    position: fixed;
    right: 100%;
    top: 160px;
    gap: 0;
    /* backdrop-filter: blur(27px); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--off-white);
    width: 100%;
    border-top: 2px solid #b5bbe0;
    border-bottom: 2px solid #b5bbe0;
    text-align: center;
    transition: 0.5s;
}
.hide{
    display: block;
}
.nav-menu{
    flex-direction: column;
    position: absolute;
    top: 80px;
    padding: 1rem;
    justify-content: center;
    width: 100%;
    padding-left: 3rem;
    gap: 0.5rem;
    /* border: 2px solid red; */
}
.nav-menu li{
    display: flex;
    width: 100%;
    margin: 0.8rem 0;
    /* justify-content: center; */
    align-items: center;
    justify-self: unset;
    height: 40px;
    /* border: 2px solid black; */
    color: white;
}
.nav-menu li:nth-child(1) a{
    border-bottom: 2px solid #b5bbe0;
}
.nav-link .nav-menu li a{
    font-size: 1.3rem;
}
.nav-link.active{
    right: 0;
}
/* header ends */

    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.3rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
    }
    .service-content{
        gap: 2.5rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card{
        /* width: 320px; */
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 7px 5px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.2rem;
    }
    .card ul{
        line-height: 30px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 0.9rem;
        padding: 0.4rem 0;
        /* word-wrap: wrap; */
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 1rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 7px 5px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 0.8rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 20px;
        padding: 0.6rem;
        font-size: 0.9rem;
    }
    .policy ul li a{
        color: #ebebef;
        transition: all 0.5s;
        border-bottom: none;
    }
}
@media (min-width:481px) and (max-width:767px){
    /* header */
    .ham-container{
        padding: 0.8rem;
        display: block;
        width: 33.3%;
        /* border: 2px solid black; */
    }
    #hamburger{
        width: 35px;
        height: 30px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(12px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-7px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        height: 15vh;
        /* gap: 5rem; */
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        width: 33.3%;
        /* width: 150px; */
        /* border: 2px solid black; */
    }
    nav .film{
        display: flex;
        padding-left: 2.7rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content:center;
        width: 33.3%;
    }
    nav .film a{
        font-size: 2rem;
        color: #b5bbe0;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 160px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--off-white);
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 80px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        padding-left: 3rem;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 40px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1.4rem;
    }
    .nav-link.active{
        right: 0;
    }
    /* header ends */

    .ham-container{
        padding: 0.8rem;
        display: block;
        width: 33.3%;
        /* border: 2px solid black; */
    }
    #hamburger{
        width: 35px;
        height: 30px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(30deg) translateY(12px) translateX(6px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-30deg) translateY(-7px) translateX(6px);
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        height: 15vh;
        /* gap: 5rem; */
        /* border: 2px solid black; */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        width: 33.3%;
        /* width: 150px; */
        /* border: 2px solid black; */
    }
    nav .film{
        display: flex;
        padding-left: 2.7rem;
        align-items: center;
        overflow: hidden;
        /* border: 2px solid black; */
        justify-content:center;
        width: 33.3%;
    }
    nav .film a{
        font-size: 2rem;
        color: #b5bbe0;
    }
    .nav-link{
        position: fixed;
        right: 100%;
        top: 160px;
        gap: 0;
        /* backdrop-filter: blur(27px); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--off-white);
        width: 100%;
        border-top: 2px solid #b5bbe0;
        border-bottom: 2px solid #b5bbe0;
        text-align: center;
        transition: 0.5s;
    }
    .hide{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        top: 80px;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        padding-left: 3rem;
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .nav-menu li{
        display: flex;
        width: 100%;
        margin: 0.8rem 0;
        /* justify-content: center; */
        align-items: center;
        justify-self: unset;
        height: 40px;
        /* border: 2px solid black; */
        color: white;
    }
    .nav-menu li:nth-child(1) a{
        border-bottom: 2px solid #b5bbe0;
    }
    .nav-link .nav-menu li a{
        font-size: 1.4rem;
    }
    .nav-link.active{
        right: 0;
    }
    /* header ends */
    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
    }
    .service-content{
        gap: 3rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        width: 100%;
    }
    .card{
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 7px 5px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.3rem;
    }
    .card ul{
        line-height: 30px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 1rem;
        padding: 0.45rem 0;
        /* word-wrap: wrap; */
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 1.2rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 7px 5px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.3rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 1rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 23px;
        padding: 0.6rem;
        font-size: 1rem;
    }
    .policy ul li a{
        color: #ebebef;
        transition: all 0.5s;
        border-bottom: none;
    }
}
@media (min-width:768px) and (max-width:991px){
    /* header{
        display: none;
    } */
    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 2rem 0.5rem 1rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        padding-left: 0;
    }
    .service-content{
        gap: 3rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        width: 100%;
    }
    .card{
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 9px 7px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.3rem;
    }
    .card ul{
        line-height: 30px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 1rem;
        padding: 0.45rem 0;
        /* word-wrap: wrap; */
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 1.4rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 9px 7px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.3rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 1rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 26px;
        padding: 0.6rem;
        font-size: 1rem;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 2rem 0.5rem 1rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.7rem;
        text-transform: uppercase;
        padding: 1rem 0 1.7rem 1rem;
    }
    .service-content{
        gap: 3rem;
        padding: 1.9rem 3rem 0.5rem 3rem;
        width: 100%;
    }
    .card{
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 9px 7px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.4rem;
    }
    .card ul{
        line-height: 30px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 1.1rem;
        padding: 0.45rem 0;
        /* word-wrap: wrap; */
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 1.5rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 9px 7px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.4rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 1rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 28px;
        padding: 0.65rem;
        font-size: 1.1rem;
    }
}
@media (min-width:1200px) and (max-width:1289px){
    .service-section{
        /* padding: 1.5rem; */
        padding: 2rem 2rem 0.5rem 1rem;
        background-color: #ebebef;
    }
    .service-section h2{
        font-size: 1.7rem;
        text-transform: uppercase;
        padding: 1rem 0 1.7rem 1rem;
    }
    .service-content{
        gap: 3rem;
        padding: 1.9rem 3rem 0.5rem 3rem;
        width: 100%;
    }
    .card{
        padding: 0.2rem 0.7rem 0.8rem;
        box-shadow: 9px 7px var(--text-color);
    }
    .card h1{
        text-align: center;
        text-transform: capitalize;
        padding: 0.5rem 0 0 0;
        font-size: 1.4rem;
    }
    .card ul{
        line-height: 30px;
        padding-top: 0.5rem;
        width: 100%;
    }
    .card ul li{
        font-size: 1.1rem;
        padding: 0.45rem 0;
        /* word-wrap: wrap; */
        align-items: first baseline;
        border-bottom: 1px solid gray;
    }
    .policy-body{
        background-color: #ebebef;
        padding: 0.5rem 1.5rem;
    }
    .policy{
        margin: 4rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        /* height: 100%;
        max-height: 600px; */
        box-shadow: 9px 7px var(--text-color);
    }
    .policy h1{
        text-align: center;
        padding: 0.5rem 0 ;
        text-transform: capitalize;
        font-size: 1.4rem;
    }
    .policy ul{
        padding: 0.2rem 0.5rem 1rem 1rem;
        width: 100%;
    }
    .policy ul li{
        list-style-type: disc;
        line-height: 28px;
        padding: 0.65rem;
        font-size: 1.1rem;
    }
}