.contact .contact-body h2{
    font-size: 67.6px;
    /* font-weight: 600; */
    color: black;
}
.contact{
    padding: 5rem 0 5rem 0;
    width: 100%;
    background-color: #ededf0;
    /* border: 2px solid blue; */

}
.contact-body{
    padding: 5rem 0 5rem 20rem;
    width: 100%;
    margin-bottom: 4.5rem;
    /* border: 2px solid red; */

}
.contact-body p{
    color: gray;
    font-size: 1rem;
}
.contact-button{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 0.5rem;
    align-items: center;
    width: 100%;
}
.contact-button button{
    display: flex;
    padding: 0.8rem 1rem;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
    outline: none;
    background-color: black;
    inset: 0;
    border: none;
    border-radius: 5px;
    transform: scale();
    align-items: center;
    width: 100%;
    max-width: 150px;
}
.contact-button button:nth-child(2){
    /* background-color: #b5bbe0; */
    background-color: #b5bbf7;
}
.contact-button button:hover{
    transform: scale(1.05);
    transition: 0.5s ;
}
.contact-button button a{
    color: white;
    font-size: 1rem;
}
.contact-button button i{
    font-size: 1.1rem;
    color: white;
}

/*All responsiveness starts here*/

@media (max-width:250px){
/* header */
.contact .contact-body h2{
    font-size: 2.1rem;
    padding-bottom: 1rem;
}
.contact{
    padding-top: 3rem;
}
.contact-body{
    padding: 2rem 0.5rem 0 1rem;
    width: 100%;
}
.contact-body p{
    line-height: 20px;
    font-size: 0.75rem;
}
.contact-button{
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.5rem 0.4rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 100px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 0.8rem;
}
.contact-button button a{
    font-size: 0.75rem;
}
}
@media (min-width:251px) and (max-width:320px){

.contact{
    padding-top: 2rem;
    background-color: #ebebef;
    /* border: 2px blue solid; */
    padding: 5rem 0 3rem 0;

}
.contact .contact-body h2{
    font-size: 2.1rem;
    /* padding-bottom: 1rem; */
}
.contact-body{
    padding: 0 0.5rem 2rem 1rem;
    width: 100 ;
    /* border: 2px red solid; */
}
.contact-body p{
    line-height: 20px;
    font-size: 0.8rem;
}
.contact-button{
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.6rem 0.4rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 120px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 0.85rem;
}
.contact-button button a{
    font-size: 0.8rem;
}
}

@media (min-width:321px) and (max-width:390px){

.contact{
    padding-top: 2rem;
    background-color: #ebebef;
}
.contact-body{
    padding: 3rem 0.5rem 3rem 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
.contact .contact-body h2{
    font-size: 2.8rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 0.85rem;
}
.contact-button button a{
    font-size: 0.95rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.7rem 0.8rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 140px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 1rem;
}

}
@media (min-width:391px) and (max-width:480px){

.contact{
    padding-top: 0.5rem;
}
.contact-body{
    padding: 3rem 0.5rem 1rem 2rem;
    width: 100%;
    margin-bottom: 0.5rem;

}
.contact .contact-body h2{
    font-size: 2.5rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 0.9rem;
}
.contact-button button a{
    font-size: 1rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.7rem 0.8rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 140px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 1rem;
}
}
@media (min-width:481px) and (max-width:767px){

.contact{
    padding-top: 2rem;
}
.contact-body{
    padding: 4rem 0.5rem 1rem 2rem;
    width: 100%;
    margin-bottom: 0.5rem;

}
.contact .contact-body h2{
    font-size: 2.85rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 0.95rem;
}
.contact-button button a{
    font-size: 1rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.7rem 0.8rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 140px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 1rem;
}
}

@media (min-width:768px) and (max-width:991px){

.contact{
    padding-top: 0.5rem;
}
.contact-body{
    padding: 4rem 0.5rem 0.5rem 7rem;
    width: 100%;
    margin-bottom: 0.1rem;

}
.contact .contact-body h2{
    font-size: 3.2rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 1rem;
}
.contact-button button a{
    font-size: 1rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.7rem 0.8rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 150px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
.contact-button button i{
    font-size: 1rem;
}
}

@media (min-width:992px) and (max-width:1199px){

.contact{
    padding-top: 0.5rem;
}
.contact-body{
    padding: 4rem 0.5rem 0.5rem 12rem;
    width: 100%;
    margin-bottom: 0.5rem;

}
.contact .contact-body h2{
    font-size: 3.5rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 1rem;
}
.contact-button button a{
    font-size: 1rem;
}
.contact-button button i{
    font-size: 1.1rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.8rem 1rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 160px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
}
@media (min-width:1200px) and (max-width:1300px){
.contact{
    padding-top: 0.5rem;
}
.contact-body{
    padding: 4rem 0.5rem 0.5rem 12rem;
    margin-bottom: 0.5rem;
}
.contact .contact-body h2{
    font-size: 3.5rem;
    /* padding-bottom: 1rem; */
}
.contact-body p{
    line-height: 20px;
    font-size: 1rem;
}
.contact-button button a{
    font-size: 1rem;
}
.contact-button button i{
    font-size: 1rem;
}
.contact-button{
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
}
.contact-button button{
    padding: 0.8rem 0.9rem ;
    gap: 0.5rem;
    width: 100%;
    max-width: 150px;
}
.contact-button button:hover{
    transform: scale(1.03);
}
}