.gallery{
    width: 100%;
    padding: 3rem 4rem 4rem 4rem;
    background-color: #ededf0;
}
.gallery h2{
    font-size: 1.75rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1rem 4rem;
}
.gallery-body{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    place-items: center;
    gap: 0.5rem;
    padding: 0.5rem 4rem;
    margin-top: 1rem;
}
.gallery-content {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gallery-content img,.gallery-content video{
    display: block;
    width: 100%;
    border: 3px dashed #b5bbe0;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}

/* gallery responsiveness */

@media (max-width:250px){

.gallery{
    width: 100%;
    padding: 1rem;
}
.gallery h2{
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 0;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 2rem 0;
    margin: 0;
}
}
@media (min-width:251px) and (max-width:390px){

.gallery{
    width: 100%;
    padding: 1rem;
}
.gallery h2{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 2rem 0;
    margin: 0;
}
}
@media (min-width:391px) and (max-width:480px){
.gallery{
    width: 100%;
    padding: 1rem;
}
.gallery h2{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 0;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 2rem 0;
    margin: 0;
}
}
@media (min-width:481px) and (max-width:767px){

.gallery{
    width: 100%;
    padding: 1rem;
}
.gallery h2{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 0;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 1.5rem 0;
    margin: 0;
}
}
@media (min-width:768px) and (max-width:991px){
.gallery{
    width: 100%;
    padding: 2.5rem 1rem;
}
.gallery h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0 2rem;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 2rem 1rem;
    margin: 0;
}
}
@media (min-width:992px) and (max-width:1199px){
.gallery{
    width: 100%;
    padding: 3rem;
    background-color: #ededf0;
}
.gallery h2{
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 0 2rem;
}
.gallery-body{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    place-items: center;
    gap: 0.8rem;
    padding: 2rem 1rem;
    margin: 0;
}
}
@media (min-width:1200px) and (max-width:1300px){
.gallery{
    width: 100%;
    padding: 3rem;
    background-color: #ededf0;
}
.gallery h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0 2rem;
}
.gallery-body{
    gap: 0.8rem;
    padding: 2rem 1rem;
    margin: 0;
}
}